@page 
@model CoordinatingCompany.Pages.Requests.IndexModel

@{
    ViewData["Title"] = "Заявки";
}
<h1></h1>

<h3>С возвращением, @Html.DisplayFor(model => model.Teacher.Name)! </h3>
<h3>Вот список актуальных заявок Департамента "@Html.DisplayFor(model => model.Teacher.Department.Name)".</h3> 
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                День недели
            </th>
            <th>
                Время занятий
            </th>
            <th>
                Дата начала
            </th>
            <th>
                Дата окончания
            </th>
            <th>
                Класс
            </th>
            <th>
                Школа
            </th>
            <th>
                Предмет
            </th>
            <th>
                Цель занятий
            </th>
            <th>
                Статус
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Assignments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Request.DayOfWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Request.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Request.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Request.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Request.Form)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Request.School.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Request.Course.Department.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Request.Course.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Принять</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Отклонить</a>
            </td>
        </tr>
}
    </tbody>
</table>
<hr />
<hr />

<form method="post" asp-page-handler="Logout">
    <div class="form-group" align="left">
        <input type="submit" value="Выход из аккаунта" class="btn btn-dark" />
    </div>
</form>

