@page
@model CoordinatingCompany.Pages.Requests.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].DayOfWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].Form)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].SchoolId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Request) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Form)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolId)
            </td>*@
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
